{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>

        {% block title %}
        Cloud Energy
        {% endblock %}

    </title>

    <link rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link
        href="{% static 'website/css/site.css' %}"
        rel="stylesheet">

</head>

<body>

    {% include "website/partials/navbar.html" %}

    <main>

        {% block content %}
        {% endblock %}

    </main>

    {% include "website/partials/footer.html" %}

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>